.body { 
  background-color: #fff;
}

.has-text-centered {
  text-align: center;
}

.title {
  margin-top: 25px;
}

@media screen and (min-device-width: 768px)  {
  .hidden-sm {
    display: none !important;
  }
}