.navbar {
  background-color: #0078d4;
}

.navbar-brand {
  justify-content: center;
  display: flex; 
}

.svg-container {
  max-width: 65px;
  text-align: center;
}

.svg-container:before {
  color: #fff;
  content: "Chartim";
  font-size: 1rem;
}
